<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">



<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
        <title>Title</title>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    </head>
    <body>
<!--        <button type="button" th:text="'Logout, ' + ${user_name}" class="btn btn-primary" th:onclick="|window.location.href = '/logout'|">Logout</button>-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <ul class="nav flex-column nav-pills ">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">User</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10">
                    <h1>Admin panel</h1>
                    <div class="tabbable" id="tabs-118488">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <button class="nav-link active" id="#tab1" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">User table</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link " id="#tab2" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">New user</button>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <table class="table table-hover">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Lastname</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Login</th>
                                        <th scope="col">Password</th>
                                        <th scope="col">Role</th>
                                    </tr>
                                    <th:block th:each="user : ${users}">
                                        <tr>
                                            <th scope="row" th:text="${user.getId()}"></th>
                                            <td th:text="${user.getName()}"></td>
                                            <td th:text="${user.getLastName()}"></td>
                                            <td th:text="${user.getAge()}"></td>
                                            <td th:text="${user.getLogin()}"></td>
                                            <td th:text="${user.getPassword()}"></td>
                                            <td th:text="${user.getRoles()}"></td>
                                            <td><a id="modal-663453" href="#modal-container-663453" role="button" th:data-whatever = "${user.getId()}" class="btn btn-info" data-toggle="modal">Edit</a></td>
<!--                                            <td><a id="modal-663454" href="#modal-container-663454" role="button"  class="btn btn-danger" data-toggle="modal">Delete</a></td>-->
<!--                                            <td><a id="modal-663454" href="#modal-container-663454" role="button" class="btn btn-danger" data-toggle="modal">Launch demo modal</a></td>-->
<!--                                            <td><button type="button" class="btn btn-info" th:onclick="'window.location.href = \'' + @{/edit/?id={id}(id=${user.getId()})} + '\''">edit</button></td>-->
                                            <td><button type="button" class="btn btn-danger" th:onclick="'window.location.href = \'' + @{admin/delete/{id}(id=${user.getId()})} + '\''">delete</button></td>
                                        </tr>
                                    </th:block>

                                </table>
                            </div>
                            <div class="tab-pane" id="tab2">
                                <form th:method="POST" th:action="@{admin/add}" th:object="${user}"  >
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="name"  th:field="*{name}" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="Lastname">Lastname</label>
                                        <input type="text" class="form-control" id="Lastname" th:field="*{lastName}" placeholder="Lastname">
                                    </div>
                                    <div class="form-group">
                                        <label for="age">Age</label>
                                        <input type="number" class="form-control" id="age" th:field="*{age}" placeholder="Age">
                                    </div>
                                    <div class="form-group">
                                        <label for="login">Login</label>
                                        <input type="text" class="form-control" id="login" th:field="*{login}" placeholder="Login">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Password">
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-4 col-form-label">Roles: </label>
                                        <div class="col-8">
                                            <th:block th:each="role: ${listRoles}">
                                                <label>
                                                    <input type="checkbox" th:name="roleCheckbox"
                                                           th:text="${role.name}" th:value="${role.name}" class="m-2" />
                                                </label>
                                            </th:block>
                                        </div>
                                    </div>
                                    <button type="submit"  class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-container-663453" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">
                            Edit user
                        </h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span  role="button" aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form th:method="PUT" th:action="@{admin/update}" th:object="${user}"  >
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" th:value="${user.getName()}" id="name" th:field="*{name}"  placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="Lastname">Lastname</label>
                                <input type="text" class="form-control" th:value="${user.getLastName()}" th:field="*{lastName}" id="Lastname" placeholder="Lastname">
                            </div>
                            <div class="form-group">
                                <label for="age">Age</label>
                                <input type="number" class="form-control" th:value="${user.getAge()}" th:field="*{age}" id="age" placeholder="Age">
                            </div>
                            <div class="form-group">
                                <label for="login">Login</label>
                                <input type="text" class="form-control" id="login" th:field="*{login}" placeholder="Login">
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Password">
                            </div>
                            <input type="hidden" id="id" name="id" >
                            <div class="form-group row">
                                <label class="col-4 col-form-label">Roles: </label>
                                <div class="col-8">
                                    <th:block th:each="role: ${listRoles}">
                                        <label>
                                            <input type="checkbox" th:name="roleCheckbox"
                                                   th:text="${role.name}" th:value="${role.name}" class="m-2" />
                                        </label>
                                    </th:block>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">
                                    Edit
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        $('#modal-container-663453').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget); // Button that triggered the modal
            const recipient = button.data('whatever'); // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            const modal = $(this);
            //modal.find('form').attr('action', url);
            modal.find('#id').attr('value',recipient);
        })
        $('#modal-container-663454').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget); // Button that triggered the modal
            const recipient = button.data('whatever'); // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            const modal = $(this);
            const url = 'edit/admin/update' + recipient;
            //modal.find('input').attr('action', url);
        })
    </script>
</html>