<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>Admin panel</title>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    </head>
    <!--  ajax  -->
    <script src="/ajaxAdminPanel.js"></script>
     <!--       -->
    <nav th:fragment="nav" class="navbar navbar-inverse navbar-dark bg-dark ">
        <div class="container-fluid ">
            <div class="navbar-header ">
                <h4 class="navbar-brand m-0 " style="display: inline" th:text="${user_name} + ' with roles:'"></h4>
                <th:block th:each=" authoritie: ${authorities}">
                    <h6 style="display: inline; color: white; padding-left: 0" th:text="${authoritie.getAuthority()}"></h6>
                </th:block>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link"  href="#" th:onclick="|window.location.href = '/logout'|">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <body>
        <div class="container-fluid mt-3 w-100 ">
            <div class="row p-0" >
                <div class="col-md-2 mt-2 p-0">
                    <ul class="nav flex-column nav-pills ">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user">User</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10">
                    <div style="margin-left: 10px">
                        <h1>Admin panel</h1>
                        <div class="tabbable" id="tabs-118488">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <button class="nav-link active" id="#tab1" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">User table</button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link " id="#tab2" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">New user</button>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane show active" id="tab1">
                                    <div class="card">
                                        <div class="card-header">
                                            <strong>All users</strong>
                                        </div>
                                        <table class="table table-hover table-striped" id="table-all-users">
                                            <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Lastname</th>
                                                    <th scope="col">Age</th>
                                                    <th scope="col">Login</th>
                                                    <th scope="col">Password</th>
                                                    <th scope="col">Role</th>
                                                    <th scope="col">Edit</th>
                                                    <th scope="col">Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbodyid">

                                            </tbody>
<!--                                            <th:block th:each="user : ${users}">-->
<!--                                                <tr id = 'users'>-->
<!--                                                    <th scope="row" th:text="${user.getId()}"></th>-->
<!--                                                    <td th:text="${user.getName()}"></td>-->
<!--                                                    <td th:text="${user.getLastName()}"></td>-->
<!--                                                    <td th:text="${user.getAge()}"></td>-->
<!--                                                    <td th:text="${user.getLogin()}"></td>-->
<!--                                                    <td th:text="${user.getPassword()}"></td>-->
<!--                                                    <td th:text="${user.getRoles()}"></td>-->
<!--                                                    <td><a id="modal-663453" href="#modal-container-663453" role="button" th:data-whatever = "${user.toString()}" class="btn btn-info" data-toggle="modal">Edit</a></td>-->
<!--                                                    &lt;!&ndash;                                            <td><a id="modal-663454" href="#modal-container-663454" role="button"  class="btn btn-danger" data-toggle="modal">Delete</a></td>&ndash;&gt;-->
<!--                                                    <td><a id="modal-663454" href="#modal-container-663454" role="button" class="btn btn-danger" th:data-whatever = "${user.toString()}" data-toggle="modal">Delete</a></td>-->
<!--                                                    &lt;!&ndash;                                            <td><button type="button" class="btn btn-info" th:onclick="'window.location.href = \'' + @{/edit/?id={id}(id=${user.getId()})} + '\''">edit</button></td>&ndash;&gt;-->
<!--                                                    &lt;!&ndash;                                            <td><button type="button" class="btn btn-danger" th:onclick="'window.location.href = \'' + @{admin/delete/{id}(id=${user.getId()})} + '\''">delete</button></td>&ndash;&gt;-->
<!--                                                </tr>-->
<!--                                            </th:block>-->
                                        </table>
                                    </div>

                                </div>
                                <div class="tab-pane" id="tab2">
                                    <form>
                                        <div class="form-group row text-center">
                                            <div class="col-md-4 mx-auto" >
                                                <label for="name">Name</label>
                                                <input type="text" class="form-control" id="name"  placeholder="Name">

                                                <label for="lastname">Lastname</label>
                                                <input type="text" class="form-control" id="lastname"  placeholder="Lastname">


                                                <label for="age">Age</label>
                                                <input type="number" class="form-control" id="age"  placeholder="Age">


                                                <label for="login">Login</label>
                                                <input type="text" class="form-control" id="login"  placeholder="Login">


                                                <label for="password">Password</label>
                                                <input type="password" class="form-control" id="password" placeholder="Password">

                                                <label>Role: </label>

                                                <div>
                                                    <label for="select_a"> </label>
                                                    <select class="form-control" id="select_a" th:size="${listRoles.size()}" multiple th:name="roleCheckbox ">
                                                        <option th:each="role: ${listRoles}" th:value="${role.getName()}" th:text="${role.getName()}" class=""></option>
                                                    </select>
                                                </div>
                                                <!-- <button  type="submit"  class="btn btn-success mt-3 ">Add new user</button>-->
                                                <button onclick="addUser()"  class="btn btn-success mt-3 ">Add new user</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade " id="modal-container-663453" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">
                            Edit user
                        </h5>
                        <button type="button" style="border-width: 0; background-color: white; box-shadow: none;" class="close" data-dismiss="modal">
                            <span role="button" aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body text-center " >
                        <form th:method="PUT" th:action="@{admin/update}" th:object="${user}"  >
                            <div class="form-group row">
                                <div class="col-md-6 mx-auto">
                                    <label for="id_view_e">ID</label>
                                    <input type="text" readonly class="form-control"  id="id_view_e" name="id" >

                                    <label for="name_e">Name</label>
                                    <input type="text" class="form-control"  id="name_e" th:field="*{name}"  >

                                    <label for="Lastname_e">Lastname</label>
                                    <input type="text" class="form-control"  th:field="*{lastName}" id="Lastname_e" >


                                    <label for="age_e">Age</label>
                                    <input type="number" class="form-control"  th:field="*{age}" id="age_e" >


                                    <label for="login_e">Login</label>
                                    <input type="text" class="form-control" id="login_e" th:field="*{login}" >

                                    <label for="password_e">Password</label>
                                    <input type="password" class="form-control" id="password_e" th:field="*{password}" >

                                    <label for="flexCheckChecked">Delete all roles</label>
                                    <input class="form-check-input" type="checkbox" value="true" name="delete_all_roles" id="flexCheckChecked" >


                                    <div>
                                        <label for="select_e"> Role:</label>
                                        <select class="form-control"  id="select_e" th:size="${listRoles.size()}" multiple th:name="roleCheckbox ">
                                            <option th:each="role: ${listRoles}" th:value="${role.getName()}" th:text="${role.getName()}" class=""></option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">
                                    Edit
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade " id="modal-container-663454"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel_d">
                            Delete user
                        </h5>
                        <button type="button" style="border-width: 0; background-color: white; box-shadow: none;" class="close" data-dismiss="modal" aria-label="Close">
                            <span  aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center " >
                        <form>
                            <div class="form-group row">
                                <div class="col-md-6 mx-auto">
                                    <label for="id_d">ID</label>
                                    <input type="text" readonly class="form-control"  id="id_d" >

                                    <label for="name_d">Name</label>
                                    <input type="text"  readonly class="form-control"  id="name_d" >

                                    <label for="Lastname_d">Lastname</label>
                                    <input type="text" readonly class="form-control"  id="Lastname_d">


                                    <label for="age_d">Age</label>
                                    <input type="number" readonly class="form-control"  id="age_d">


                                    <label for="login_d">Login</label>
                                    <input type="text"  readonly class="form-control" id="login_d" >

                                    <label for="password_d">Password</label>
                                    <input type="password" readonly class="form-control" id="password_d">

                                    <label> Role: </label>
                                    <div>
                                        <label for="select_d">

                                        </label>
<!--                                        <select class="form-control" multiple id ="select_d" disabled  >-->
<!--                                            <th:block th:each="role: ${listRoles}">-->
<!--                                                <option th:value="${role.name}" th:text="${role.name}" class=""></option>-->
<!--                                            </th:block>-->
<!--                                        </select>-->
                                        <select class="form-control"  id="select_d" disabled th:size="${listRoles.size()}" multiple th:name="roleCheckbox ">
                                             <option th:each="role: ${listRoles}" th:value="${role.getName()}" th:text="${role.getName()}" class=""></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-dismiss="modal">
                                   Close
                                </button>
                                <button id="delete" type="button" class="btn btn-danger" data-dismiss="modal" >
                                    Delete
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        $('#modal-container-663453').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget); // Button that triggered the modal
            const recipient = button.data('whatever'); // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            const modal = $(this);
            //modal.find('form').attr('action', url);
            const myArray = recipient.split(",");
            modal.find('#id_view_e').attr('value',myArray[0]);
            modal.find('#name_e').attr('value',myArray[1]);
            modal.find('#Lastname_e').attr('value',myArray[2]);
            modal.find('#age_e').attr('value',myArray[3]);
            modal.find('#login_e').attr('value',myArray[4]);
            modal.find('#password_e').attr('value',myArray[5]);




        })
        $('#modal-container-663454').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget); // Button that triggered the modal
            const recipient = button.data('whatever'); // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            const modal = $(this);
            const myArray = recipient.split(",");
            modal.find('#id_d').attr('value',myArray[0]);
            modal.find('#name_d').attr('value',myArray[1]);
            modal.find('#Lastname_d').attr('value',myArray[2]);
            modal.find('#age_d').attr('value',myArray[3]);
            modal.find('#login_d').attr('value',myArray[4]);
            modal.find('#password_d').attr('value',myArray[5]);

            // $.each(myArray, function (index, value) {
            //
            //     if(index > 5) {
            //          $('#select_d').append($('<option>',
            //              {text: value}))
            //    }
            // });
            $( "#delete" ).click(function() {
                //window.location.href = '/admin/delete/' + myArray[0];
                deleteUser(myArray[0])
            });
        })

    </script>
</html>